<h1 id="welcome">
	<script>  
	 	var date= new Date();
	 	var hour= date.getHours();
	 	var welcomeDom= document.getElementById('welcome');
	 	if (hour<=12) {
	 		welcomeDom.innerHTML="上午好";
	 	}else if (hour<=18) {
	 		welcomeDom.innerHTML="下午好";
	 	}else{
	 		welcomeDom.innerHTML="晚上好";
	 	}
	</script> 
</h1>
<h3 id="show_time"> 
	<script>  
		setInterval("show_time.innerHTML='现在是'+new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);  
	</script>  
</h3>  
<h3><%= @helloMessage %></h3>
<a href="http://www.gucas.ac.cn/" target="_black">点击访问国科大主页</a>
<div><a href="/say/goodbye">退出</a></div>


